sfxc_CUDA/webservices/translationnode/NewTranslationJobZSI/NewTranslationJob.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
						xmlns:axis2="http://broker.remote.expres.psnc.pl"
						xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
						xmlns:ns0="http://broker.remote.expres.psnc.pl/xsd"
						xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
						xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
						xmlns:ns1="http://jobinfo.broker.remote.expres.psnc.pl/xsd"
						xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
						xmlns:xs="http://www.w3.org/2001/XMLSchema"
						xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
						targetNamespace="http://broker.remote.expres.psnc.pl"
						>
  <wsdl:types>
    <xs:schema xmlns:xsd="http://broker.remote.expres.psnc.pl/xsd"
					attributeFormDefault="qualified"
					elementFormDefault="qualified"
					targetNamespace="http://broker.remote.expres.psnc.pl/xsd"
					>
		<xs:element name="startTranslationJob">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="param0" nillable="true" type="ns1:JobInfo"/>
          </xs:sequence>
        </xs:complexType>
		</xs:element>
	 </xs:schema>
    <xs:schema xmlns:ax21="http://jobinfo.broker.remote.expres.psnc.pl/xsd"
					attributeFormDefault="qualified"
					elementFormDefault="qualified"
					targetNamespace="http://jobinfo.broker.remote.expres.psnc.pl/xsd"
					>
		<xs:complexType name="JobInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="brokerIPAddress" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="chunkSize" type="xs:long"/>
          <xs:element maxOccurs="unbounded" minOccurs="0"
							 name="dataLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="experimentName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="telescopeName" nillable="true" type="xs:string"/>
        </xs:sequence>
		</xs:complexType>
	 </xs:schema>
  </wsdl:types>
  <wsdl:message name="startTranslationJobRequest">
    <wsdl:part name="parameters" element="ns0:startTranslationJob"/>
  </wsdl:message>
  <wsdl:portType name="NewTranslationJobPortType">
    <wsdl:operation name="startTranslationJob">
      <wsdl:input message="axis2:startTranslationJobRequest"
						wsaw:Action="urn:startTranslationJob" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewTranslationJobSOAP11Binding" type="axis2:NewTranslationJobPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="startTranslationJob">
      <soap:operation soapAction="urn:startTranslationJob" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NewTranslationJobSOAP12Binding" type="axis2:NewTranslationJobPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="startTranslationJob">
      <soap12:operation soapAction="urn:startTranslationJob" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NewTranslationJobHttpBinding" type="axis2:NewTranslationJobPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="startTranslationJob">
      <http:operation location="NewTranslationJob/startTranslationJob"/>
      <wsdl:input>
        <mime:content type="text/xml" part="startTranslationJob"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewTranslationJob">
    <wsdl:port name="NewTranslationJobSOAP11port_http" binding="axis2:NewTranslationJobSOAP11Binding">
      <soap:address location="http://localhost:8080/axis2/services/NewTranslationJob"/>
    </wsdl:port>
    <wsdl:port name="NewTranslationJobSOAP12port_http" binding="axis2:NewTranslationJobSOAP12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/NewTranslationJob"/>
    </wsdl:port>
    <wsdl:port name="NewTranslationJobHttpport" binding="axis2:NewTranslationJobHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/NewTranslationJob"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
