webservices/translationnode/WSDLs/CorrelatedDataJob.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax224="http://jobinfo.broker.remote.expres.psnc.pl/xsd" xmlns:ax225="http://protocol.remote.expres.psnc.pl/xsd" xmlns:xsd="http://cds.remote.expres.psnc.pl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cds.remote.expres.psnc.pl">
    <wsdl:types>
        <xs:schema xmlns:ax226="http://protocol.remote.expres.psnc.pl/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jobinfo.broker.remote.expres.psnc.pl/xsd">
            <xs:import namespace="http://protocol.remote.expres.psnc.pl/xsd"/>
            <xs:complexType name="DataSetInfo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="dataLocation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="header" nillable="true" type="ax226:MessageHeader"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://protocol.remote.expres.psnc.pl/xsd">
            <xs:complexType name="MessageHeader">
                <xs:sequence>
                    <xs:element minOccurs="0" name="chunkCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="chunkId" type="xs:long"/>
                    <xs:element minOccurs="0" name="chunkSize" type="xs:long"/>
                    <xs:element minOccurs="0" name="experimentName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderLocation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="telescopeAbbr" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax227="http://jobinfo.broker.remote.expres.psnc.pl/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cds.remote.expres.psnc.pl">
            <xs:import namespace="http://jobinfo.broker.remote.expres.psnc.pl/xsd"/>
            <xs:element name="dataSetIsReady">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dataSetInfo" nillable="true" type="ax227:DataSetInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="dataSetIsReadyRequest">
        <wsdl:part name="parameters" element="xsd:dataSetIsReady"/>
    </wsdl:message>
    <wsdl:portType name="CorrelatedDataJobPortType">
        <wsdl:operation name="dataSetIsReady">
            <wsdl:input message="xsd:dataSetIsReadyRequest" wsaw:Action="urn:dataSetIsReady"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CorrelatedDataJobSoap11Binding" type="xsd:CorrelatedDataJobPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="dataSetIsReady">
            <soap:operation soapAction="urn:dataSetIsReady" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CorrelatedDataJobSoap12Binding" type="xsd:CorrelatedDataJobPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="dataSetIsReady">
            <soap12:operation soapAction="urn:dataSetIsReady" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CorrelatedDataJobHttpBinding" type="xsd:CorrelatedDataJobPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="dataSetIsReady">
            <http:operation location="CorrelatedDataJob/dataSetIsReady"/>
            <wsdl:input>
                <mime:content type="text/xml" part="dataSetIsReady"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CorrelatedDataJob">
        <wsdl:port name="CorrelatedDataJobHttpSoap11Endpoint" binding="xsd:CorrelatedDataJobSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/CorrelatedDataJob"/>
        </wsdl:port>
        <wsdl:port name="CorrelatedDataJobHttpSoap12Endpoint" binding="xsd:CorrelatedDataJobSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/CorrelatedDataJob"/>
        </wsdl:port>
        <wsdl:port name="CorrelatedDataJobHttpEndpoint" binding="xsd:CorrelatedDataJobHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/CorrelatedDataJob"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
